name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install build

      - name: Set Version Number
        run: |
          VERSION=${{ github.event.release.tag_name }}
          echo "Setting package version to $VERSION"
          sed -i "s/__version__ = .*/__version__ = \"$VERSION\"/" src/__init__.py

      - name: Build Package
        run: python -m build

      - name: Upload Distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/project/autotz/${{ github.event.release.tag_name }}

    steps:
      - name: Retrieve Release Distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish Release to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
